<!doctype html>
<html lang="en">
  <head>
    <title>Password engine</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- ____________________________ Style CSS ____________________________ -->
    <link rel="stylesheet" href={{ url_for("static", filename="css/bootstrap.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/animate.min.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/style.css") }}>
    <link rel="stylesheet" href={{ url_for("static", filename="css/font-awesome.min.css") }}>
    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico")}} type="image/x-icon">
  </head>
  <body>
<!-- ____________________________ START ____________________________ -->

<main class="p-5">
{% block content %}
{% endblock %}
</main>


<!-- ____________________________ FINISH ____________________________ -->   
<!-- ____________________________  JavaScript ____________________________ -->
    <script src= {{ url_for("static", filename="js/jquery-3.4.1.slim.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/popover.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.bundle.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/bootstrap.min.js") }}></script>
    <script src= {{ url_for("static", filename="js/script.js") }}></script>
  </body>
</html>